/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
#zone-branding-wrapper {
background:#FFFFFF
}
#zone-menu-wrapper {
background:#DDDDDD
}
#zone-content-wrapper {
background:#FFFFFF
}
#page {
font-family: Arial, Tahoma, Verdana;
}

/* Headers */
body > #page h1, body > #page h2, body > #page h3,
body > #page h4, body > #page h5, body > #page h6 {
  border-color: #D4D4D4;
  color: #489ec8;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1em;
}